//- extends partials/layout-homepage.pug

block content
  .heading
    h3 Create a Profile
  .profile-form
    form(method="POST")
      .form-group
        label(for='name') Name
        input.form-control#name(
          type='text'
          name='name'
          placeholder='your name here'
          required
        )
      .form-group
        label(for='age') Age
        input.form-control#age(
          type='text'
          name='age'
          placeholder='your age here'
          required
        )
      //- .form-group
      //-   label(for='photo') Photo
      //-   input.form-control#photo(
      //-     type='url'
      //-     name='photo'
      //-     placeholder='your photo here'
      //-     required
      //-  )
      .form-group
        label(for='description') Description
        input.form-control#description(
          type='text'
          name='description'
          placeholder='describe yourself'
          required
        )
      .form-group
        label(for='hobbies') Hobbies
        input.form-control#hobbies(
          type='text'
          name='hobbies'
          placeholder='what are you interested in?'
          required
        )
      .form-group
        label(for='phone') Phone Number
        input.form-control#phone(
          type='tel'
          name='phone'
          placeholder='5555555555'
          required
        )
      .form-group
        label(for='email') Email
        input.form-control#email(
          type='email'
          name='email'
          placeholder='you@you.com'
          required
        )
      .profile-form_submit
        button.btn.btn.danger.btn-lg Submit
