extends partials/layout-homepage.pug

block content




























































  //- product card of user
  //-   .card
  //-   img.card-img-top(src= imgurl, alt='profile image')
  //-   .card-block
  //-     h4.card-title= profileName
  //-     p.card-text=userDescription

  //-     p.card-text=userLikes
  //- //-     p.card-text=userDislikes
  //- //-       small.text-muted=userAge
  //- h1 hey and stuff
  //-   h1=name
  //-   h1=age
  //-   h2 hey things

  //-   block content
  //- .heading
  //-   h3 Create a Profile
  //- .profile-form
  //-   form(method="POST")
  //-     .profile-form_submit
  //-       button.btn.btn.danger.btn-lg See The current user
  //- if user
  //-   h3=user.name
  //-   p=user.age
  //-   p=user.description
  //-   p=user.hobbies
  //-   p=user.phone
  //-   p=user.email
  //-   p=user.date_joined
  //- .card.card-outline-primary.mb-3.text-center
  //-   .card-block  heeey
  //-     blockquote.card-blockquote
        //- if page === "all"
        //-   include partials/display-all-users
        //- if page === "liked"
        //-   include partials/display-all-users
  //- this will display all users partial/ or liked users partial
//- name, age, photo, description, likes, dislikes

//- name, age, photo, description, likes, dislikes
//- product card of user
.card
  img.card-img-top(src= imgurl, alt='profile image')
  .card-block
    h4.card-title= profileName
    p.card-text=userDescription

    p.card-text=userLikes
    p.card-text=userDislikes
      small.text-muted=userAge


.card.card-outline-primary.mb-3.text-center
  .card-block
    blockquote.card-blockquote
      //- if page === "all"
        include partials/display-all-users
      //- if page === "liked"
        include partials/display-all-users
  //- this will display all users partial/ or liked users partial
  
  //- #rating1.rating
  //- button.btn.btn-default.like Like
  //- |  
  //- span.glyphicon.glyphicon-heart 0
  //- |  
  //- button.btn.btn-default.dislike Dislike
  //- |  
  //- span.icomoon.icon-heart-broken 0

