extends partials/layout-homepage.pug

block content
  
//- name, age, photo, description, likes, dislikes
//- product card of user
.card
  img.card-img-top(src= imgurl, alt='profile image')
  .card-block
    h4.card-title= profileName
    p.card-text=userDescription

    p.card-text=userLikes
    p.card-text=userDislikes
      small.text-muted=userAge


.card.card-outline-primary.mb-3.text-center
  .card-block
    blockquote.card-blockquote
      //- if page === "all"
        include partials/display-all-users
      //- if page === "liked"
        include partials/display-all-users
  //- this will display all users partial/ or liked users partial
  #rating1.rating
  button.btn.btn-default.like Like
  |  
  span.glyphicon.glyphicon-heart 0
  |  
  button.btn.btn-default.dislike Dislike
  |  
  span.icomoon.icon-heart-broken 0
